      <!-- Left column -->
      <ul class="list-unstyled">
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
          <h5>Settings <i class="glyphicon glyphicon-chevron-down"></i></h5>
          </a>
            <ul class="list-unstyled collapse in" id="userMenu">
              <li class="active"> <a href="{% url "root_page" %}"><i class="glyphicon glyphicon-home"></i> Home</a></li>
              <li><a href="#"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
            </ul>
        </li>
        <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#menu2">
          <h5>Reports <i class="glyphicon glyphicon-chevron-right"></i></h5>
          </a>

          <ul class="list-unstyled" id="menu2">
              <li><a href="#">Today</a></li>
              <li><a href="#">This Week</a></li>
              <li><a href="#">This Month</a></li>
              <li><a href="#">Last Month</a></li>
            </ul>
        </li>
      </ul>
