{% extends 'base.html' %}

{% block main %}

<div class="panel panel-default">
  <div class="panel-heading">Summary</div>
  <div class="panel-body">
    {{ date_name }}= {{ date_display }} <br>
    Total duration = {{ total_duration }}
  </div>
</div>

<hr>

<div class="panel panel-default">
  <div class="panel-heading">Job Summary</div>
  <div class="panel-body">
    <!-- Table -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Job</th>
          <th>Total Duration</th>
        </tr>
      </thead>

    {% for summary in job_summary %}
      <tbody>
        <tr>
          <td>{{summary.job.name}}</td>
          <td>{{summary.total_duration}}</td>
        </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% block links %}{% endblock %}
<div class="panel panel-default">
  <div class="panel-heading">Job Details</div>
  <div class="panel-body">
    <!-- Table -->
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Job</th>
          <th>Start</th>
          <th>Finish</th>
          <th>Duration</th>
          <th>Operations</th>
        </tr>
      </thead>

    {% for log in object_list %}
      <tbody>
        <tr>
          <td>{{log.id}}</td>
          <td>{{log.job}}</td>
          <td>{{log.start}}</td>
          <td>{{log.finish}}</td>
          <td>{{log.get_duration_display}}</td>
          <td>
            <a href="{%  url 'logs-log-update' log.id %}" class="btn btn-primary">Edit</a>
            <a href="{%  url 'logs-log-delete' log.id %}" class="btn btn-danger">Delete</a>
          </td>

        </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}
