{% extends 'logs/base_log_archive.html' %}
{% block sidebar %}
<ul class="nav">
  <li><a href="{% url 'logs-year' month.year %}">
    <span class="glyphicon glyphicon-folder-open"></span>
    Current Year ({{ month.year}})</a></li>
  {% if previous_month %}
    <li><a href="{% url 'logs-month' previous_month.year previous_month.month %}">
        <span class="glyphicon glyphicon-arrow-up"></span>
        Previous month ({{previous_month.year}}/{{previous_month.month }})</a></li>
  {% endif %}
  {% if next_month %}
    <li>
      <a href="{% url 'logs-month' next_month.year next_month.month %}">
        <span class="glyphicon glyphicon-arrow-down"></span>
        Next month ({{next_month.year}}/{{next_month.month }})</a>
     </li>
     {% endif %}
{% for date in date_list %}
<li>
  <a href="{% url 'logs-day' date.year date.month date.day%}">{{ date.year}}/{{ date.month }}/{{ date.day }}</a>
</li>
{% endfor %}
</ul>
{% endblock %}
